<form class="form-inline" *ngIf="!authService.GetUser()">
  <div class="form-group">
    <label for="username">User: (type <em>user</em>)</label>
    <input class="form-control" name="username" #username>
  </div>
  <div class="form-group">
    <label for="password">Password: (type <em>password</em>)</label>
    <input class="form-control" type="password" name="password" #password>
  </div>
  <a class="btn btn-default" (click)="Login(username.value, password.value)">Ingresar</a>
  {{ errorMessage }}
</form>
<a class="btn btn-default" (click)="LogOut()" *ngIf="authService.GetUser()">Salir</a>
