<div class="card-content" [@esFavorito]="destination.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span>
      <h4>{{position}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destination.name}}</h3>
    <p>Servicios</p>
    <div>
      <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destination_vote_up items_destination_list"><i class="material-icons md-18">thumb_up</i></a>&nbsp;
      <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destination_vote_down items_destination_list"><i class="material-icons md-18">thumb_down</i></a>&nbsp;
      Votos: {{ destination.votes }}
    </div>
    <ul>
      <li *ngFor="let item of destination.services">
        <span class="container" [ngSwitch]="item">
          <i *ngSwitchCase="'huevitos'" style="color:brown;">{{item}} *</i>
          <i *ngSwitchDefault>{{ item }}</i>
        </span>
      </li>
    </ul>
    <a href="#" class="btn-card" (click)="Go()" appTrackearClick data-trackear-tags="destination_selected items_destination_list">Ir</a>
    <span *ngIf="destination.isSelected()">
      <span ngNonBindable>{{ PREFERIDO }}</span>
    </span>
    <a [routerLink]="['/destination', destination.id]">Ver detalle</a>
  </div>
</div>
