<p>reservation-list works!</p>
<a [routerLink]="['./', 10]">Ir a detalle </a>|
<a [routerLink]="['/login']">Ir a login</a>

<div *ngFor="let item of api.GetAll()">
    {{ item.id }} - {{ item.name }}
</div>