<p>flights-component works!</p>
<div class="navLinks">
    <a [routerLink]="['./main']">Principal </a>|
    <a [routerLink]="['./see-more']">Más información </a>|
    <a [routerLink]="['./', 5]">Vuelo 5 </a>
</div>

<router-outlet></router-outlet>