<form [formGroup]="formGroup" (ngSubmit)="Save(formGroup.controls['name'].value, formGroup.controls['urlImage'].value)">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre..." [formControl]="formGroup.controls['name']">
        <ul>
            <li *ngFor="let item of searchResults;">{{item}}</li>
        </ul>
        <div *ngIf="formGroup.controls['name'].hasError('required')" class="alert alert-danger" role="alert">Nombre requerido</div>
        <div *ngIf="formGroup.controls['name'].hasError('invalidName')" class="alert alert-danger" role="alert">Nombre inválido</div>
        <div *ngIf="formGroup.controls['name'].hasError('minLongName')" class="alert alert-danger" role="alert">El nombre debe tener al menos {{minLong}} de largo</div>
    </div>
    <div class="form-group">
        <label for="urlImage">Imagen</label>
        <input type="text" class="form-control" id="urlImage" placeholder="Ingresa la url de la imagen..." [formControl]="formGroup.controls['urlImage']">
    </div>
    <button type="submit" class="btn btn-info" *ngIf="formGroup.valid">Guardar</button>
</form>
